.tableContainer {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 15px 15px 0 15px;
    text-align: left;
  }

  th {
    border-bottom: 2px solid black;
  }

  td {
    // border-bottom: 1px solid #cecece;
  }
}

.tableTitle {
  width: 500px;
  text-align: left;
  font-family: 'Vodafone Rg';
  font-style: normal;
  font-weight: bold;
}

.topContent {
  display: flex;
  justify-content: space-between;
  font-family: 'Vodafone Rg';
  font-style: normal;
  font-weight: normal;
}

.tdLine {
  display: flex;
  flex-direction: column;
}

.buttonsDiv {
  width: 15vw;
  text-align: right;
  height: 100%;

  img {
    margin-left: 20px;
    cursor: pointer;
  }
}

.indexTab {
  font-family: 'Vodafone Rg';
  font-style: normal;
  font-weight: bold;
}

.emptyMessage {
  font-family: 'Vodafone Rg';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  text-align: center;
  color: #000000;
}
