// Primary colours
$color-primary: #000000;
$color-base: #FFFFFF;

// Info Colours
$color-error: #FF0000;
$color-success: #009900;
$color-warning: #FECB00;
$color-text-link: #00B0CA;
$color-error-light: #FFD9D9;
$color-success-light: #D9F0D9;
$color-warning-light: #FFF7D9;

// Monochrome colours
$color-dove-gray: #666666;
$color-dusty-gray: #999999;
$color-dusty-gray: #CCCCCC;
$color-gallery: #EBEBEB;
$color-wild-sand: #F4F4F4;