
.main {
  top: "0!important";
  font-family: 'Vodafone Rg';
}

.containerFluid{
    width: 100vw;
}

.sidebar {
    div > div > img {
        width:36px;
    }
}

.content {
    padding-top: 65px;
    margin-left: 80px;
}
