// body {
//   margin: 0;
//   padding:0;
// }

.sidebarReact {
  position: fixed;
  width: 70px;
  height: 100%;
  min-height: 100vh;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
  background: white;
  border: none;
  padding: 0;
  z-index:101;
}

.sidebarOpenReact {
  position: fixed;
  width: 350px;
  height: 100%;
  min-height: 100vh;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
  background: white;
  border: none;
  padding: 0;
  z-index:101;
}

.sidebarTopReact {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0 10px 20px;
  margin: 0;
  width: 100vw;
  position: fixed;
  z-index:110;
}

.sidebarTopReact:hover {
  cursor: pointer;
}

.sidebarMenuButtonReact{
  background-color: #fff;
  width: 36px;
  z-index:101;
}

.sidebarMenuIconsReact {
  margin-top:65px;
  width: 70px;
  img {
    width: 54px !important;
  }
}

// Scroll

/* width */
.sidebarReact::-webkit-scrollbar, .sidebarTopReact::-webkit-scrollbar {
  width: 4px;
  }
  
  /* Track */
  .sidebarReact::-webkit-scrollbar-track, .sidebarTopReact::-webkit-scrollbar-track {
  background: #f1f1f1;
  }
  /* Handle */
  .sidebarReact::-webkit-scrollbar-thumb, .sidebarTopReact::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:50px;
  }

  /* width */
.sidebarOpenReact::-webkit-scrollbar, .sidebarTopReact::-webkit-scrollbar {
  width: 4px;
  }
  
  /* Track */
  .sidebarOpenReact::-webkit-scrollbar-track, .sidebarTopReact::-webkit-scrollbar-track {
  background: #f1f1f1;
  }
  /* Handle */
  .sidebarOpenReact::-webkit-scrollbar-thumb, .sidebarTopReact::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:50px;
  }
