.title {
  width: auto;
  padding-right: 10px !important;
  color: #000000 !important;
  font-size: 18px !important;
  font-family: 'Vodafone Rg' !important;
  font-weight: 100 !important;
  white-space: nowrap !important;
}
.container {
  margin-top: 10px;
}

.formSelect {
  margin-top: 12px;
  width: 100%;
  > div {
    padding: 12.5px 14px !important;
  }
}

.textarea {
  border-radius: 6px;
  resize: none;
  border:1px solid #ACB3B8;

  outline: none;
  width: 95%;
  height: 312px;

  padding: 13px 16px;

  color: #000000;
  font-family: 'Vodafone Rg' !important;
  font-size: 16px !important;
  margin-top: 8px;
}
