.title {
  width: auto;
  padding-right: 10px !important;
  color: #000000 !important;
  font-size: 18px !important;
  font-family: 'Vodafone Rg' !important;
  font-weight: 100 !important;
  white-space: nowrap !important;
}

.formSelect {
  margin-top: 12px;
  width: 100%;
  > div {
    padding: 11px 14px 10px !important;
  }

  legend {
    display: none;
  }
  fieldset {
    top: 0 !important;
  }
}

ul[role="listbox"]{
  li {
    display: block;
    padding: 10px 6px;
  }
}
